@use '../temporals/colors'as color;


header {
    height: 100px;
    background-color: #ab3428;
    color: #fff;
    h1 {
        font-size: 40px;
        font-family: 'Permanent Marker', cursive;
    }
    .container {
        height: 100%;
    }
}